
h1 {
    background-color: orange;
    font-size: 117px;
    border: 2px solid black;
    margin: 1%;
    font-family: 'Zhi Mang Xing', cursive;
    text-align: center;
   
}

p {
    font-size: 18px;
    margin: 3%;
    margin-top: 3%;
    font-family: 'Be Vietnam', sans-serif;
}
/* 
.images {
    
} */
.blackcrystal {
    width: 150px;
    height: 150px;
    
}

.bluecrystal {
    width: 150px;
    height: 150px;
   
}

.browncrystal {
    width: 150px;
    height: 150px;
 
}

.greencrystal {
    width: 150px;
    height: 150px;

}

#randomNumber {
    font-size: 20px;
    margin: 15px;
    text-align: center;
    font-family: 'Be Vietnam', sans-serif;
}

#wins {
    font-size: 15px;
    margin: 15px;
    text-align: center;
    font-family: 'Be Vietnam', sans-serif;
}

#losses {
    font-size: 15px;
    margin: 15px;
    text-align: center;
    font-family: 'Be Vietnam', sans-serif;
}

#finalTotal {
    text-align: center;
    font-family: 'Be Vietnam', sans-serif;
}