
h1 {
    background-color: orange;
    font-size: 117px;
    border: 2px solid black;
    margin: 1%;
    font-family: 'Zhi Mang Xing', cursive;
    text-align: center;
}

p {
    font-size: 20px;
    margin: 3%;
    margin-top: 3%;
    font-family: 'Be Vietnam', sans-serif;
}

.blackcrystal {
    width: 150px;
    height: 150px;
    align-items: center;
}

.bluecrystal {
    width: 150px;
    height: 150px;
    align-items: center;
}

.browncrystal {
    width: 150px;
    height: 150px;
    align-items: center;
}

.greencrystal {
    width: 150px;
    height: 150px;
    align-items: center;
}

#randomNumber {
    font-size: 20px;
    margin: 15px;
    text-align: center;
}

#wins {
    font-size: 15px;
    margin: 15px;
    text-align: center;
}

#losses {
    font-size: 15px;
    margin: 15px;
    text-align: center;
}