
h1 {
    background-color: orange;
    font-size: 117px;
    border: 2px solid black;
    margin: 1%;
    font-family: 'Vibes', cursive;
    text-align: center;
}

p {
    font-size: 20px;
    margin: 5%;
    font-family: 'PT Sans', sans-serif;
}

.blackcrystal {
    width: 250px;
    height: 250px;
}

.bluecrystal {
    width: 250px;
    height: 250px;
}

.browncrystal {
    width: 250px;
    height: 250px;
}

.greencrystal {
    width: 250px;
    height: 250px;
}